html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Noto Sans TC", sans-serif;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.social a{
  text-decoration: none;
  color: #999999;
}

.social a:hover{
  color: #ff6600;
}

.header_info {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job_photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.contact_img {
  width: 30px;
  height: 30px;
}

.title{
  padding-top: 10px;
  font-weight: bold;
  color: #ff6600;
}

.about{
  margin-top: 40px;
  margin-left: 160px;
  margin-right: 160px;
}

.skill{
  margin-top: 24px;
  margin-bottom: 0px;
  font-size: 30px;
}

.skills{
  display: flex;
  justify-content: space-between;
}

.pro{
  width: 30%;
  text-align: center;
}

.customer,
.think,
.event_planning{
  font-size: 22px;
  border-top: 1px solid #999999;
}

.certificate,
.experience{
  padding-bottom: 20px;
  margin-top: 40px;
}

.word{
  font-size: 18px;
}

.student{
  font-size: 30px;
  padding-top: 20px;
}

.character{
  font-size: 18px;
}

.work{
  line-height: 0px;
  padding-left: 6px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 22px;
}

.job{
  padding-top: 20px;
  padding-left: 6px;
  font-size: 22px;
  border-top: 1px solid #999999;
}

.time{
  font-size: 18px;
}

.life{
  margin-top: 10px;
font-size: 14px;
}

.life i{
  text-decoration: none;
  font-size: 14px;
}
