body {
  margin: 0;
  padding: 0;
}

.container {
  outline: 1px red solid;
  height: 190vh;
  width: 80vw;
  margin: 0 auto;
}

.header_info {
  outline: 1px blue solid;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job_photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.contact_img {
  width: 30px;
  height: 30px;
}

.professional{
  margin-top: 30px;
}

.skills{
display: flex;
justify-content: space-between;
}

.specialty{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertise{
  width: 280px;
}

.expreice{
  display: inline-block;
}

.autobiography{
  font-size: 26px;
}

.school{
  margin-top: 40px;
}

.about{
  margin-top: 40px;
}

.me{
margin: 0 auto;
}


.work{
margin: 0 auto;
margin-top: 30px;
}


.future{
margin: 0 auto;
margin-top: 30px;
}