.myself {
text-align: center;
font-size: 30px;
font-weight: bold;
margin-top: 30px;
margin-bottom: 250px;
}

.wrapper {
display: flex;          /* 讓 .left .right 變成左右並排 */
align-items: flex-start;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto 60px;    /* 置中 + 底部留空 */
gap: 40px;              /* 左右兩欄中間的間距 */
}


.left {
flex: 2;                /* 左欄比較寬 */
padding: 20px;
margin: 0%;
box-sizing: border-box;
background-color: rgb(107, 220, 255);
}


.right {
flex: 1;                /* 右欄比較窄 */
padding: 20px;
margin: 0%;
box-sizing: border-box;
border-left: 2px solid #ccc; /* 視覺上分出左右 */
}

.own1{
margin-bottom: 0%;
margin-top: 0%;
}


.school {
margin-top: 20px;
}

.school1{
font-size: 26px;
font-weight: bold;
}

.expreice{
font-size: 26px;
font-weight: bold;
}

.certificate{
font-size: 26px;
font-weight: bold;
}

.expertise{
font-size: 26px;
font-weight: bold;
}

.language {
font-size: 26px;
font-weight: bold;
}

