body {
  margin: 0;
  padding: 0;
}

.container {
  outline: 1px red solid;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

.header_info {
  outline: 1px blue solid;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job_photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.contact_img {
  width: 30px;
  height: 30px;
}