.myself {
text-align: center;
font-size: 50px;
font-weight: bold;
padding-top: 20px;
padding-bottom: 60px;
}

.job-photo{
height: 180px;
width: 140px;
text-align: center;
display: block;
margin: 0 auto;
}

.links{
margin-top: 20px;
display: flex;
justify-content: center;
gap: 16px;
}

.links img{
width: 32px;
height: 32px;
cursor: pointer;
margin-top: 0%;
margin-bottom: 120px;
}

.wrapper {
display: flex;
align-items: flex-start;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto 60px;
gap: 40px;
}


.left {
flex: 1;
margin: 0%;
box-sizing: border-box;
background-color: rgb(183, 237, 254);
}


.right {
flex: 1;
padding-left: 10px;
padding-right: 0px;
margin: 0%;
box-sizing: border-box;
border-left: 2px solid #232323;
background-color: rgb(194, 189, 189);
}

.own1{
margin-bottom: 0%;
margin-top: 0%;
}


.school {
margin-top: 20px;
}

.school1{
font-size: 26px;
font-weight: bold;
}

.expreice{
font-size: 26px;
font-weight: bold;
}

.certificate{
font-size: 26px;
font-weight: bold;
}

.expertise{
font-size: 26px;
font-weight: bold;
}

.language {
font-size: 26px;
font-weight: bold;
}

