html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Noto Sans TC", sans-serif;
    min-height: 310vh;
}

.container {
  height: 190vh;
  width: 80vw;
  margin: 0 auto;
}

.header_info {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job_photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.contact_img {
  width: 30px;
  height: 30px;
}

.title{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.about{
  margin-top: 40px;
  margin-left: 160px;
  margin-right: 160px;
}

.professional{
  margin-top: 80px;
  font-size: 20px;
}

.skills{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.serve{
  display: flex ;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  border-top: 2px solid rgb(149, 148, 148);
}

.community{
  display: flex ;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgb(149, 148, 148);
}

.plan{
  display: flex ;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  border-top: 2px solid rgb(149, 148, 148);
}

.customer{
  font-size: 22px;
}

.think{
  font-size: 22px;
}

.event_planning{
  font-size: 22px;
}

.school{
  padding-bottom: 20px;
  border-top: 2px solid rgb(149, 148, 148);
}

.certificate{
  padding-bottom: 20px;
  border-top: 2px solid rgb(149, 148, 148);
}

.experience{
  padding-bottom: 20px;
  border-top: 2px solid rgb(149, 148, 148);
}

.word{
  font-size: 18px;
}

.school{
  margin-top: 40px;
}

.student{
  font-size: 30px;
  padding-top: 20px;
}

.character{
  font-size: 18px;
}

.level{
  font-size: 26px;
  padding-bottom: 20px;
  line-height: 0px;
  padding-left: 6px;
}

.work{
  line-height: 0px;
  padding-left: 6px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 22px;
}

.job{
  padding-top: 20px;
  padding-left: 6px;
  font-size: 22px;
  border-top: 2px solid rgb(149, 148, 148);
}

.time{
  font-size: 18px;
}

.autobiography{
  padding-top: 50px;
  font-size: 30px;
  border-top: 2px solid rgb(149, 148, 148);
}

.list{
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}


.future{
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

.numeric{
  padding-top: 0px;
  margin-top: 0px;
}